* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: black;
  color: white;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4CAF50;
  font-size: 22px;
}

.logo strong {
  color: #2ecc71;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav span {
  color: white;
}

.search-login {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-login input {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.login-btn {
  background: #3fae2a;
  border: none;
  padding: 8px 18px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

/* CONTEÚDO */
.container {
  text-align: center;
  margin-top: 60px;
}

.container h1 {
  font-family: "Georgia", serif;
  font-size: 42px;
  margin-bottom: 10px;
}

.container hr {
  width: 300px;
  margin: 0 auto 30px;
  border: 1px solid black;
}

/* FORMULÁRIO */
.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-cadastro input {
  width: 320px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #d9d9d9;
  font-size: 16px;
}

.form-cadastro p {
  font-size: 14px;
}

.form-cadastro a {
  color: #1e90ff;
  text-decoration: none;
}

.form-cadastro button {
  margin-top: 20px;
  padding: 12px 40px;
  background: #1e73ff;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
