body { font-family: Arial; text-align:center; }
.navbar { background:black; color:white; padding:15px; display:flex; justify-content:space-between; }
.login-btn { background:#4CAF50; border:none; padding:8px 15px; border-radius:10px; }
.container { margin-top:80px; }
input { width:300px; padding:15px; border-radius:10px; background:#d9d9d9; border:none; }
button { margin-top:30px; padding:12px 40px; background:#1e73ff; border:none; border-radius:10px; }
