@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfellenglishsc/v16/a8IENpD3CDX-4zrWfr1VY879qFF05pZ7PIIP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{margin:0;padding:0;box-sizing:border-box;}
body{background:#fff;
  font-family:"IM Fell English SC"}

/* ===== NAVBAR ===== */
.navbar{
  height:80px;background:#000;padding:0 32px;
  display:flex;align-items:center;justify-content:space-between;
}
.logo-img {
  height: 100px;
  margin-left: -40px;
  object-fit: contain;
}
.navlinks{display:flex;align-items:center;gap:18px;}
.navlinks a{color:#fff;text-decoration:none;font-size:18px;}
.navlinks span{color:#fff;opacity:.9;}
.navright{display:flex;align-items:center;gap:18px;}
.searchwrap{position:relative;}
.searchwrap input{
  width:360px;height:42px;padding:0 48px 0 18px;
  border-radius:22px;border:none;outline:none;
  background:#d9d9d9;font-size:18px;
}
.searchwrap input::placeholder{color:#9a9a9a;}
.search-icon{
  position:absolute;right:14px;top:50%;
  transform:translateY(-50%);opacity:.6;user-select:none;
}

/* Perfil + sair */
.profile-area{position:relative;}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown {
  position: absolute;
  top: 46px;
  right: 0;
  background: transparent;
  border-radius: 0;
  padding: 0;
  display: none;
  min-width: 120px;
  box-shadow: none;
  z-index: 9999;
}

.dropdown button {
  background: rgb(255, 255, 255);
  color: #000000;
  text-decoration: none;
  padding: 8px 22px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 22px;
  font-family: Georgia, serif;
}

.dropdown button:hover {
  background: rgb(214, 12, 12);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 22px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 22px;
  font-family: Georgia, serif;
}

/* ===== CONTEÚDO ===== */
.content{
  padding:26px 40px;
}

.content h2{
  font-size:28px;
  font-weight:400;
  margin:18px 0 14px;
}

.games-wrap{
  display: flex;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.games-row{
  display: flex;
  align-items: center;
  gap: 22px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  scroll-behavior: smooth;

  width: calc(100% - 80px); /* <-- FORÇA sobrar espaço pra seta e cortar a lista */
  padding-bottom: 6px;
}

/* esconder scrollbar */
.games-row::-webkit-scrollbar{
  height: 0;
}

.game{
  flex: 0 0 auto;
  width:140px;
  height:190px;
  border-radius:4px;
  overflow:hidden;
  background:#ddd;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration: none;
}

.game img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.game.add{
  background:#d9d9d9;
  color:#fff;
  font-size:48px;
  font-weight:300;
}

.game.selected{
  outline:3px solid #1e73ff;
}

.arrow{
  width: 44px;
  height: 44px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  background: #fff;
}

.arrow.left { margin-right: 2px; }
.arrow.right { margin-left: 2px; }
